@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic");

body{
    background: linear-gradient(90deg, #485563 10%, #29323c 90%);
    color:white;
}

.wrapper {
    text-align: center;
    border-bottom: 1px solid #29323c;
    box-shadow: 0 0 7px #000000;
}

h3 {
	display: inline-block;
	position: relative;
    color: #FFD662FF;
}

.giga {
    margin-top: 1.2rem;
    margin-bottom: 0.66rem;
}

.bree-serif{
    font-family: 'Bree Serif'
}

.regular{
    font-weight: 400;
}

.delta {margin-bottom: 1.2375rem;
}

.oswald{
    font-family: 'Oswald'
}

.uppercase{
    text-transform: uppercase;
}

.ls-large{
    letter-spacing: 5px;
}

#footer {/*
    position: absolute;
    bottom: 0;
    width: 100%; */
    background-color: #404040;
    box-shadow: 0 -2px 7px #000000;
}

a, a:hover {
    color: #FFD662FF;
}

#page-container{
    text-align: center;
    padding-top: 5%;
}

.result, #msgs{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.25rem;
}

.choice{
 display: inline;
}

img{
    max-width: 22%;
    height: auto;
}

@media only screen and (min-width: 600px){
    img{
        max-width: 10%;
        height: auto;
    }
}