@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400|Playfair+Display:400,700,400italic|Libre+Baskerville:400,700,400italic|Muli:300,400|Open+Sans:400,300,700|Oswald:400,700|Raleway:400,100,300,700|Montserrat:400,700|Merriweather:400,300,300italic,400italic,700|Bree+Serif|Vollkorn:400italic,400,700|Abril+Fatface|Cardo:400,400italic");

body{
    background: linear-gradient(90deg, #485563 10%, #29323c 90%);
    color:white;
}

.wrapper {
    text-align: center;
    border-bottom: 1px solid #29323c;
    box-shadow: 0 0 7px #000000;
}

h3 {
	display: inline-block;
	position: relative;
    color: #FFD662FF;
}

.giga {
    margin-top: 1.2rem;
    margin-bottom: 0.66rem;
}

.bree-serif{
    font-family: 'Bree Serif'
}

.regular{
    font-weight: 400;
}

.delta {margin-bottom: 1.2375rem;
}

.oswald{
    font-family: 'Oswald'
}

.uppercase{
    text-transform: uppercase;
}

.ls-large{
    letter-spacing: 5px;
}

#footer {/*
    position: absolute;
    bottom: 0;
    width: 100%; */
    background-color: #404040;
    box-shadow: 0 -2px 7px #000000;
}

a, a:hover {
    color: #FFD662FF;
}

#page-container{
    text-align: center;
    padding-top: 20%;
}

.result, .msgs{
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1.25rem;
}

.choice{
 display: inline;
 cursor: pointer;

 will-change: transform;
 transition: transform 0.4s;
 -webkit-transition: transform 0.4s;
}

img{
    max-width: 22%;
    height: auto;
    border: 3px solid transparent;
    border-radius: 50%;
}

@keyframes blink1 { 50% { border-color:red ; }  }

@keyframes blink2 { 50% { border-color:yellow ; }  }

@keyframes blink3 { 50% { border-color:green ; }  }

.score-board-inner {
    position: relative;
}

.score-board-inner {
    border: 3px solid white;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px 0;
    max-width: 40%;
}

.score-board-inner > * {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
}

.badge {
    background: #e2584d;
    padding: 7px;
}

#user-score, #comp-score, #colon {
    font-size:xx-large;
}

#user-label {
    position: absolute;
    top: 15%;
    left: -20%;
}

#comp-label {
    position: absolute;
    top: 15%;
    right: -30%;
}

@media only screen and (min-width: 700px){
    #page-container{
        padding-top: 10%;
    }
    
    img{
        max-width: 10%;
        height: auto;
    }

    .score-board-inner {
        max-width: 20%;
    }

    .score-board-inner > * {
        font-size: large;
    }

    #user-label {
        position: absolute;
        top: 15%;
        left: -15%;
    }
    
    #comp-label {
        position: absolute;
        top: 15%;
        right: -30%;
    }

    .choice :hover{
        transition: transform 0.4s;
        transform-style: preserve-3d;
        transform: translateY(-15px);
        
          -webkit-transform-style: preserve-3d;
          -webkit-transition: transform 0.4s;
          -webkit-transform: translateY(-15px);
      }
}

@media only screen and (min-width: 1300px){
    #user-label {
        position: absolute;
        top: 15%;
        left: -10%;
    }
    
    #comp-label {
        position: absolute;
        top: 15%;
        right: -15%;
    }

    .choice :hover{
        transition: transform 0.4s;
        transform-style: preserve-3d;
        transform: translateY(-15px);
        
          -webkit-transform-style: preserve-3d;
          -webkit-transition: transform 0.4s;
          -webkit-transform: translateY(-15px);
      }
}